include README.md
include LICENSE
include WB-IGO-RIDER.md
include CITATION.cff
include requirements.txt
recursive-include src/deduplix *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
